.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  > li{
    margin-right: 5px;
  }

}

.left-nav {

  > ul {
    
    > li {
      font-family: $serif;
      font-size: 15px;
      text-transform: uppercase;

    }
  }

  span {

  }
}

.right-nav  {
  
  > ul {

    > li {
      font-family: $serif;
      font-size: 15px;
      text-transform: uppercase;
      > i {
        font-size: 40px;
      }
    }

    > li:last-of-type {
  
    }
  }
  
  i {

  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background: blue


}
