// .masthead {
// 	display: flex;
// 	flex-direction: column;
// 	align-items: center;
// 	border-bottom: 2px solid black;
// 	position: relative;
// }

.language-nav {
	position: absolute;
	top: -15px;
	left: calc(50% - (177.78px/2));
	background: white;
	// border: 1px solid $light-gray;
	border-bottom: none;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;

	a {
		margin: 0 5px;
		text-transform: uppercase;
		font-family: $sans-serif;
		font-size: 10px;
		color: $dark-gray;
		text-decoration: none;
	}

	ul {
		display: flex;
	}

	li:first_of_type {
		a	{
			font-weight: bold;
		}
	}
}

.logo {
	max-width: 400px;
	margin-top: 10px;
}

.masthead-links {
	display: flex;
	align-items: center;
	font-family: $sans-serif;
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 10px;

	li {

		border-right: 1px solid $light-gray;
	}

	button {
		background: none;
		padding: 0px;
		color: #000;
		font-weight: normal;
		border: none;
	}

	button:hover {
		background-color: $lightest-gray;
	}

	a,
	button, 
	time {
		margin-right: 10px;
	}

	i {
		margin-right: 5px;
	}

	strong {
		color: green;
	}
}